---
import site from '@src/site.js';
import Container from '@components/Container.astro';
import Logo from '@components/Logo.astro';
import Menu from '@components/Menu.astro';
import MobileMenu from '@components/MobileMenu.astro';
---

<Container
	as="header"
	class="flex items-center justify-between gap-8 py-6 relative z-50"
>
	<div class="flex items-center gap-8">
		<Logo />
		<Menu name="demo" />
	</div>
	<div class="flex items-center gap-8">
		<a class="no-underline text-lg weight-bold" href={`tel:${site.phone}`}>
			{site.phone}
		</a>
		<MobileMenu name="demo" showPhoneNumber />
	</div>
</Container>

<!-- /*
Usage:
<Header />
*/ -->
