---
import Flow from '@components/Flow.astro';
---

<div class="grid gap-6 md:grid-cols-3 md:gap-8">
	<Flow as="article">
		<img src="https://unsplash.it/600/800?random=1" alt="" loading="lazy" />
		<Flow space="xs">
			<h2>Building</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</Flow>
	</Flow>
	<Flow as="article">
		<img src="https://unsplash.it/600/800?random=2" alt="" loading="lazy" />
		<Flow space="xs">
			<h2>Building</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</Flow>
	</Flow>
	<Flow as="article">
		<img src="https://unsplash.it/600/800?random=3" alt="" loading="lazy" />
		<Flow space="xs">
			<h2>Building</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</Flow>
	</Flow>
</div>
