---
import site from '@src/site.js';

import Base from '@layouts/Base.astro';
import Section from '@components/Section.astro';
import PatternLinkCard from '@components/PatternLinkCard.astro';
import Hero from '@components/Hero.astro';
import Button from '@components/Button.astro';
import Icon from '@components/Icon.astro';

const pages = site.menus.main[2].children;
---

<Base title="Home">
	<Hero
		title="Nova"
		description="Nova is our component library for Astro, focused on building brochure and marketing websites."
	>
		<div class="flex flex-wrap items-center justify-center gap-4">
			<Button href="/docs/get-started">
				Get Started
				<Icon
					name="arrow-right"
					class="text-white w-5 h-5"
					slot="end"
				/>
			</Button>
			<Button
				href="https://github.com/resknow/astro-starter-kit"
				variant="secondary"
			>
				Astro Starter Kit
				<Icon name="github" class="w-5 h-5" slot="start" />
			</Button>
		</div>
	</Hero>
	<Section collapseTop>
		<h1 class="text-center font-extrabold">Patterns</h1>
		<ul
			role="list"
			class="mt-12 grid gap-6 sm:grid-cols-2 md:grid-cols-3 md:gap-8"
		>
			{
				pages.map(({ href, label, icon }) => {
					return (
						<PatternLinkCard
							href={href}
							title={label}
							icon={icon}
						/>
					);
				})
			}
		</ul>
	</Section>
</Base>
