---
const { class: className, href, type = null, variant = 'primary' } = Astro.props;
const TagName = type ? 'button' : 'a';
const buttonClasses =
	'inline-flex items-center justify-center gap-2 px-6 py-2.5 text-base font-medium text-center rounded-lg shadow-sm cursor-pointer uppercase tracking-wide no-underline transition transform hover:shadow-md hover:-translate-y-px active:shadow-none active:translate-y-px';

const variants = {
	primary: 'text-indigo-100 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 hover:text-white',
	secondary: 'text-black bg-white hover:bg-gray-100 hover:text-black focus:ring-indigo-500',
};
---

<TagName href={href} class:list={[buttonClasses, variants[variant], className]} type={type}>
	<slot name="start" />
	<span class="relative">
		<slot />
	</span>
	<slot name="end" />
</TagName>
