---
import { glob } from 'glob';
import Icon from '@components/Icon.astro';

const iconFiles = await glob('./src/icons/*.svg');
const icons = iconFiles.map((file) =>
	file.replace('src/icons/', '').replace('.svg', '')
);
---

<div class="flex flex-wrap items-center gap-6">
	{
		icons.map((name) => {
			return (
				<button
					x-data
					x-on:click={`window.navigator.clipboard.writeText('<Icon name="${name}" />')`}
				>
					<Icon
						name={name}
						class="fill-gray-400 hover:fill-indigo-600 w-6 h-6"
					/>
				</button>
			);
		})
	}
</div>

<div class="flex flex-wrap items-center gap-4 mt-8 text-xs text-gray-600">
	<Icon name="info" class="fill-indigo-600 w-5 h-5" />
	<p>Click on an icon to copy the code to your clipboard.</p>
</div>
