---
import { twMerge as tw } from 'tailwind-merge';

interface Props {
	href?: string;
	class?: string;
	variant?: 'light' | 'dark';
	withAttribution?: boolean;
}

const {
	href = '/',
	class: className,
	variant = 'dark',
	withAttribution = false,
} = Astro.props;

const variants = {
	light: 'text-gray-200',
	dark: 'text-gray-700',
};
---

<a
	href={href}
	class={tw(
		'no-underline flex items-center gap-2',
		variants[variant],
		className
	)}
>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="16"
		height="16"
		fill="currentColor"
		class="w-auto h-8 fill-yellow-500"
		viewBox="0 0 16 16"
		><path
			d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"
		></path>
	</svg>
	<span class="uppercase tracking-wide font-extrabold">Bolt</span>
	{withAttribution && <span class="text-xs opacity-70">by Resknow</span>}
</a>
