---
import { twMerge as merge } from 'tailwind-merge';
import Container from '@components/Container.astro';

interface Props {
	as?: string;
	class?: string;
	innerClass?: string;
	backgroundImage?: string;
	contain?: boolean;
	collapse?: boolean;
	collapseBottom?: boolean;
	collapseTop?: boolean;
}

const {
	as = 'section',
	class: className,
	innerClass: innerClassName,
	backgroundImage,
	contain = true,
	collapse,
	collapseBottom,
	collapseTop,
} = Astro.props;

const TagName = as;
const InnerTagName = contain ? Container : 'div';
---

<TagName
	class:list={merge(backgroundImage && 'bg-cover bg-center', className)}
	style={backgroundImage && `background-image: url('${backgroundImage}')`}
>
	<div
		class={merge([
			!collapse &&
				!collapseBottom &&
				!collapseTop &&
				'py-12 sm:py-16 md:py-20 lg:py-24',
			collapseBottom && 'pt-12 sm:pt-16 md:pt-20 lg:pt-24',
			collapseTop && 'pb-12 sm:pb-16 md:pb-20 lg:pb-24',
			innerClassName,
		])}
	>
		<InnerTagName>
			<slot />
		</InnerTagName>
	</div>
</TagName>
