---
import Section from '@components/Section.astro';
import Flow from '@components/Flow.astro';
import ProjectCard from '@components/ProjectCard.astro';

interface Props {
	class?: string;
	limit?: number;
}

const { class: className, limit = 2 } = Astro.props;

const projectsRaw = await fetch(
	`https://cms.resknow.net/examples/wp-json/wp/v2/projects?per_page=${limit}`
);
const projects = await projectsRaw.json();
---

<Section class:list={[className]}>
	<Flow space="md">
		<h2 class="text-center">Latest Projects</h2>
		<div class="grid gap-6 md:grid-cols-2 md:gap-8">
			{
				projects.map((project) => (
					<ProjectCard
						title={project.title.rendered}
						image={
							project.better_featured_image.media_details.sizes
								.large.source_url
						}
						href={`/projects/${project.slug}`}
					/>
				))
			}
		</div>
	</Flow>
</Section>

<!--
Usage:
<LatestProjects limit="2" />
-->
